.ipynb_checkpoints/
datasets/
data/
.idea/
__pycache__/
docs/_build
own_tests/
*.egg-info
build/
dist/
tmp/
hyperopt/logs/
benchmarks/logs/
hierarchical/logs/
results/
notebooks/tmp/
notebooks/trained_model/
notebooks/*model/
