.ipynb_checkpoints/
*.h5ad
*.pkl
*.pickle
*.png
*.pt
*.csv
datasets/
data/
.idea/
__pycache__/
docs/_build
own_tests/
*.egg-info
build/
dist/
figure_notebooks/*/
notebooks/tmp/
notebooks/trained_model/
notebooks/**model/
notebooks/*/
